.header-container {
  height: 120px;

  background: #f59506;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  h1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logged-in {
    color: purple;
    @media (max-width: 700px) {
      font-size: 12px;
    }
  }
  .toggle-sidebar {
    display: none;

    @media (max-width: 700px) {
      //  .toggle-sidebar {
      height: 60px;
      width: 68px;
      position: fixed;
      right: 15px;
      top: 28px;
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0;
      // display: none;
      // border-radius: 10%;
      // box-shadow: 1px 3px 5px blue;
      cursor: pointer;
      // background-color:none;

      .menu {
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.527);
        border-radius: 20px;
        cursor: pointer;
        z-index: 2;
      }
    }
  }
  // .menu {
  //   // display: none;
  //   height: 40px;
  //   width: 40px;
  // }

  .logo {
    height: 150px;
    width: 165px;
    margin-left: 50px;

    @media (max-width: 700px) {
      height: 130px;
      width: 135px;
      margin-left: 5px;
    }
  }
  nav {
    color: white;
    text-decoration: none;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 0.5px;
    // margin-right: 10px;
    // margin: 25px;
    text-decoration: none;
  }
  li {
    list-style-type: none;
    margin: 25px;
    a {
      text-decoration: none;
      color: black;
      font-size: 23px;
    }
  }
  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    flex-direction: column;
    margin-right: 40px;
    @media (max-width: 700px) {
      margin-right: 50px;
    }
    

    .login-btn {
      
      height: 40px;
      width: 80px;
      background-color: rgb(207, 37, 7);
      padding: 3px;
      color: white;
      font-size: 15px;
      cursor: pointer;
      a {
        height: 30px;
        font-family: "Play", sans-serif;
      }
      &:hover {
        height: 40px;
        text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
      }

      a {
        color: white;
      }

      @media (max-width: 700px) {
        width: 65px;
        font-size: 12px;
      }
    }

    .register-btn {
      height: 40px;
      width: 80px;
      background-color: white;
      color: black;
      font-size: 15px;
      padding: 3px;
      cursor: pointer;
      &:hover {
        height: 40px;
        text-shadow: 1px 1px 2px rgb(226, 147, 29), 0 0 1em rgb(61, 61, 63),
          0 0 0.2em blue;
      }

      a {
        height: 30px;
        color: black;
        font-family: "Play", sans-serif;
      }
      @media (max-width: 700px) {
        width: 65px;
        font-size: 12px;
      }
    }

    .logout-btn {
      height: 40px;
      width: 80px;
      background-color: rgb(245, 241, 14);
      color: purple;
      font-size: 15px;
      cursor: pointer;
      margin-right: 50px;

      @media (max-width: 700px) {
        height: 25px;
        width: 40px;
        font-size: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-top: ;
      }
    }

    a {
      text-decoration: none;
    }
  }
}

@media (max-width: 700px) {
  // .toggle-sidebar {
  //   height: 40px;
  //   width: 40px;
  // }

  nav ul {
    justify-content: space-around;
    flex-direction: column;
    height: 500px;
    padding: 80px;
  }
  nav {
    position: fixed;
    min-height: 100vh;
    top: 0;
    right: 0;
    background: linear-gradient(0.5turn, purple, pink, orange);
    transform: translate(350px, 0);
    transition: 0.3s;
  }

  // .menu {
  //   transform: translate(0, 0);
  //   height: 100%;
  //   width: 100%;
  //   margin: 0 auto;
  // }
}

.show {
  transform: translate(0, 0);
  // display: none;

  @media (max-width: 700px) {
    transform: translate(0, 0);
  }
}
