.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  max-width: 900px;
  border-color: rgb(3, 3, 3);
  // border-block-end-color: firebrick;
  border-radius: 10px;
  background-color: rgba(145, 2, 180, 0.39);
  margin: 0 auto;
  .post-input {
    width: 800px;
    height: 100%;
    border-radius: 5px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 15px;
  }

  #dropzone {
    height: 100px;
    width: 600px;
    background-color: rgba(128, 128, 128, 0.377);
    border: 2.2px lightgray dashed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
  }
}
