.login-outer {
  background-color: rgb(236, 210, 161);
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;

  .login-inner {
    max-width: 900px;
    background-image: url("./art.jpg");
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

    h2 {
      font-size: 35px;
      padding-bottom: 10px;
    }

    h5 {
      font-size: 27px;
      padding-bottom: 15px;
    }

    input {
      height: 35px;
      width: 200px;
      padding: 10px;
      font-size: 15px;
      margin: 8px;
      box-shadow: grey;
    }

    button {
      height: 40px;
      width: 100px;
      background-color: orange;
      a {
        text-decoration: none;
        color: white;
        font-size: 18px;
      }
    }
  }
}
