.user-profile {
  background-image: url("./pencils.jpg");
  min-height: 150vh;
  background-size: cover;
  background-attachment: fixed;

  .inner-user-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    // padding-bottom: 150px;
    flex-direction: column;
    margin: auto;
    width: 100%;
    min-height: 100%; // background-color: aqua;
    .user-name {
      font-size: 30px;
      height: 50px;
      width: auto;
      background-color: rgba(65, 212, 65, 0.712);
      display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: 3px 3px 3px rgb(209, 71, 243);
      border-radius: 10px;
      margin-bottom: 20px;
      font-family: fantasy;
    }

    .profile-pic {
      // display: flex;
      // justify-content: center;
      height: 300px;
      width: auto;
      // #resizemode: contain;

      #dropzone {
        height: 300px;
        width: 300px;
        background-color: rgba(128, 128, 128, 0.377);
        background-size: cover;
        border: 2.2px lightgray dashed;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        padding-bottom: 20px;
        border-radius: 20%;
        box-shadow: 2px 2px 2px grey;
      }
      .cloudinary-profile {
        height: 300px;
        width: 100%;
        border-radius: 15px;
      }

      // height: 300px;
      // width: 300px;
      // background-color: rgba(36, 34, 34, 0.247);
      // border-radius: 30px;
      // display: flex;
      // justify-content: center;
      // align-content: center;
      // margin-left: 20px;
    }
    .little-containers {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      margin: 10px;

      @media (max-width: 700px) {
        flex-direction: column;
      }
    }
    .little-containers div {
      height: 250px;
      width: 250px;
      background-color: rgba(247, 247, 46, 0.521);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      flex-direction: column;
      margin: 28px;

      h1 {
        text-shadow: 3px 3px 3px rgb(209, 71, 243);
        font-family: fantasy;
        font-size: 25px;
        padding-bottom: 15px;
      }

      h3 {
        font-size: 15px;
        text-overflow: inherit;
      }
    }

    .container-under {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;

      .complete-profile {
        height: 70px;
        width: 280px;
        background-color: orange;
        font-size: 25px;
        color: black;
        margin-bottom: 30px;

        a {
          text-decoration: none;
          font-size: 25px;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
          color: black;
        }
      }
      .edit-profile {
        height: 70px;
        width: 230px;
        background-color: rgb(240, 81, 240);
        border-radius: 15px;
        font-size: 25px;
        color: black;
        margin-bottom: 30px;

        @media (max-width: 700px) {
          height: 40px;
          font-size: 15px;
        }
      }
    }

    .my-posts {
      height: 300px;
      width: 250px;
      background-color: grey;
    }
  }

  // .inner-user-profile {
  //   height: 95%;
  //   width: 95%;
  // }
}
